.card_item
  width: 100%
  height: 260px
  background-repeat: no-repeat
  background-size: 100% 100%
  background-color: rgba(255,255,255,0.40)
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50)
  border-radius: 10px
  padding: 15px 15px 10px
  position: relative
  .title
    // margin-left: 15px
    // margin-top: 15px
    font-family: NotoSansCJKtc-DemiLight
    font-size: 16px
    color: #000000
    font-weight: bold
  .star
    position: absolute
    bottom: 20px
    width: 25px
    height: 25px