@import '../../styles/var.sass'
@import '../../styles/mixins.sass'

.main
  width: 1280px
  height: 800px
  display: flex
  .left_panel
    width: 830px
    height: 800px
    background-color: $light-pink-color
  .clock
    position: absolute
    top: 372px
    left: 782px
    z-index: 2
    cursor: pointer
  .right_panel
    width: 450px
    background-color: $dark-blue-color
    position: relative

