import React from 'react';
import styles from './{{ fileName }}.module.sass';

const {{ fileName }} = () => {
  return (
    <div className={ styles.{{ fileName }} }>
      
    </div>
  )
}

export default {{ fileName }};