import React from 'react';
import styles from './{{ fileName.capital }}.module.sass';

const {{ fileName.capital }} = props => {
  return (
    <div className={ styles.{{ fileName.styles }} }>
      <div> </div>
    </div>
  )
}

export default {{ fileName.capital }};