@import '../../styles/var.sass'

.title
  display: flex
  justify-content: center
  .text
    font-weight: bold
    font-size: 0.96rem
    letter-spacing: 3px
    position: relative
    z-index: 1
    @media (min-width: 992px)
      font-size: 1.53rem
    &::after
      content: ''
      position: absolute
      top: 0.66rem
      left: -5%
      z-index: -1
      display: block
      height: 0.96rem
      width: 110%
      background-color: $light-green
      @media (min-width: 992px)
        height: 1rem
        top: 1.2rem
    .sub_title
      font-size: 0.8rem
      text-align: center
      margin-top: 5px
      letter-spacing: 2px


  