@import '../../styles/var.sass'

.body_main_step3
  display: flex
  flex-wrap: wrap
  justify-content: center
  z-index: 1
  .finish
    width: 60vw
    position: relative
    z-index: 2
    animation-name: bounceIn
    animation-duration: 10s
    animation-fill-mode: both
    @media (min-width: 992px)
      width: 20vw
  .background_circle
    position: absolute
    top: 50%
    left: 50%
    background-color: $light-green
    width: 50vw
    height: 50vw
    border-radius: 50%
    // transform: translate(-50%, -50%)
    animation-name: bounceInCenter
    animation-duration: 10s
    animation-fill-mode: both
    transform-origin: center
    @media (min-width: 992px)
      width: 15vw
      height: 15vw
  .text
    font-size: 0.9rem
    width: 100%
    text-align: center
    margin-top: 20px
    @media (min-width: 992px)
      font-size: 1.12rem
  .body_actions
    margin-top: 20px
    .button
      display: block

@keyframes bounceIn
  0%
    opacity: 0
    transform: scale(.3)
  50%
    opacity: 1
    transform: scale(1.05)
  70% 
    transform: scale(.9)
  100%
    transform: scale(1)

@keyframes bounceInCenter
  0%
    opacity: 0
    transform: scale(.3) translate(-50%, -50%)
  50%
    opacity: 1
    transform: scale(1.05) translate(-50%, -50%)
  70% 
    transform: scale(.9) translate(-50%, -50%)
  100%
    transform: scale(1) translate(-50%, -50%)

