@import '../../styles/var.sass'

.header
  height: 13vh
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1)
  .MuiStepLabel-label
    display: none
  .custom_icon
    background-color: #ccc
    z-index: 1
    color: #fff
    width: 25px
    height: 25px
    display: flex
    border-radius: 50%
    justify-content: center
    align-items: center
    &.active
      background-color: $light-green