.main
  .header
    height: 596px
  .body
    display: flex
    justify-content: center
    flex-wrap: wrap
    padding: 30px 100px
    .item
      margin: 30px
      width: 30%
      img
        width: 100%
        height: 100%
      .text
        text-align: center