.main
  .header
    height: 596px
  .body
    display: grid
    grid-template-columns: repeat(3, 1fr)
    padding: 30px 10vw
    .item
      margin: 30px
      text-align: center
      img
        width: 300px
        height: 300px
      .text
        margin-top: 20px
        font-family: AndaleMono
        font-size: 16px
        color: #4C5356