.second_row
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 20px
  .text
    font-family: NotoSansCJKtc-DemiLight
    font-size: 12px
    color: #000000
    text-align: left
    user-select: none
    &.dark
      color: #fff
  .button
    &.dark
      color: #fff
      background-color: #424255
  .save_button
    background-color: #000
    &.dark
      color: #000
      background-color: #fff
      .text
        color: #000
    .text
      color: #fff
  .star_icon
    margin-right: 10px
    &.dark
      fill: #fff
  .icon_container
    svg
      width: 25px
      height: 25px
      margin-left: 20px
      cursor: pointer
      &.active
        &.dark
          path
            fill: #fff
        path
          fill: #000000
      path
        fill: #B2B2B2
        stroke: none