.dropdown
  .title
    color: #D4D4D4
    background-color: #707070
    padding: 10px 20px
    cursor: pointer
    .icon_caret
      margin-right: 10px
  .dropdown_container
    padding: 10px 30px
    overflow: hidden
    // display: none
    // height: 0px
    // transition: transform 5s