@import './var.sass'

@mixin card($isDropCard: false)
  @media screen and (min-width: 1600px)
    height: 20vh
    width: 7vw
  @media screen and (max-width: 1600px)
    height: 27vh
    width: 9vw
  margin: 2vh
  border-width: $card-border-width
  border-style: solid
  border-radius: 10px
  box-sizing: border-box
  @if $isDropCard == true
    margin-top: -$card-border-width
    margin-left: -$card-border-width