@import '../../styles/mixin.sass'

.han_guo_yu
  .role
    position: absolute
    left: 10%
    width: 302px
    height: 327px
    +position
    // transform: matrix(0.99, -0.12, 0.12, 0.99, 0, 0)
    // width: 300px
    // height: 300px