@import '../../styles/var.sass'

.footer
  display: flex
  align-items: center
  padding: 0px 20px
  width: 100%
  height: 10vh
  background-color: $light-green-background
  background-image: url('../../assets/footer-background.svg')
    